* {
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.icon-fixed{
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin:auto;
}

                        /***************** SECCION HEADER *******************/ 

header{
    background: rgb(49,19,77);
    background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
}
.logo-header{
    width: 340px;
    height: 72px;
    margin: 7px;
}
li{
    list-style: none;
}
a{
   color: #fff;
   text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: rgb(58, 52, 63);
}
.hamburguesa{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

                        /***************** SECCION 1 HOME *******************/ 

main{
    width: 100%;
}
.slider{
    width: 100%;
    height: 520px;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 500%;
    animation: slider 20s infinite;
}
.slider li{
    height: 100vh;
    width: 100%;
    list-style: none;
}
.slider li img{
    width: 100%;
    height: 80vh;
}

@keyframes slider {
    0% {margin-left: 0%;}
    15% {margin-left: 0%;}

    20% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    75% {margin-left: -300%;}

    80% {margin-left: -400%;}
    95% {margin-left: -400%;}
}
.section-1{
 /*   min-height: 125vh; */
    margin-bottom: 20px;
}
.slogan{
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;

}
.about-us{
    text-align: center;
    font-weight: lighter;
    margin: 0px 15px;
    padding: 10px;
    text-transform: uppercase;
}

.descripcion-empresa{
    margin: 0px 20px;
    padding: 25px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.6;
}

.descripcion-img{ 
    width: 250px;
    height: 250px;
    float: left;
    margin: 15px 25px;
    border-radius: 50%;
}

                        /***************** SECCION 2 HOME *******************/ 

.section-2{
    width: 100%;
}
.prop-generales{
    text-align: center;
    margin: 15px;
}
.contenedor{
    margin: 70px auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor a{
    margin: 10px 5px;
}
.contenedor figure{
    position: relative;
    height: 380px;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
    object-fit: cover;
    width: 301px;
    height: 380px;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 97, 97, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
    font-size: 25px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.descripcion-finish{
    margin: 25px 10px;
    font-size: 23px;
  /*  line-height: 1.6; */
    text-align: center;
}
.arrow{
    width: 24px;
    margin-bottom: 8px;
}
.iconos-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 40px;
    margin-right: 50px;
}
.icon:hover{
    opacity: 0.5;
}
                        /***************** SECCION FOOTER *******************/ 
footer{
    margin-top: 35px;
    width: 100%;
    padding: 20px;
    background: rgb(49,19,77);
    background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 65px;
    width: 245px;
}
.copyright{
    color: #fff;
    font-size: 16px;
    margin: 5px;
}
.nav-footer{
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-link-foot{
    padding: 10px;
}
.nav-link-foot:hover{
    transition: 0.7s ease;
    color: rgb(58, 52, 63);
}

                        /***************** SECCION PROPUESTAS *******************/ 

.main-prop{
    width: 85%;
    margin: 20px auto;
}
.tittle-menu{
    margin-bottom: 20px;
    font-weight: 300;
}
.card-prop {
    position: relative;
    background: rgb(250, 250, 250);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: .5s;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 5px;
}
.card-prop:hover {
    box-shadow: 0 5px 15px rgba(107, 107, 107, 0.5);
    transform: translateY(-10px);
}
.card-prop .head {
    height: 115px;
    width: 35%;
    position: relative;
}
.card-prop .head .circle {
    position: absolute;
    width: 325px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
    bottom: 0;
}
.card-prop .head .img {
    position: absolute;
    background: transparent;
    padding: 5px;
    top: 20%;
    left: 25%;
    font-size: 23px;
}
.card-prop .description {
    font-size: 22px;
    display: inline-flex;
    height: 185px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.card-prop .description p {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 19px;
    z-index: 10;
}
.card-prop .contact{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact-bodas{
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
    margin: 5px 10px;
}
.card-prop .contact a {
    font-size: 18px;
    width: 136px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, rgb(65, 192, 199), rgb(79, 46, 110)  100%);
    padding: 5px 8px;
    border-radius: 5px;
    transition: .3s;
}
.card-prop .contact a:hover {
    transition: 0.7s ease;
    color: rgb(46, 43, 49);
}
                        /***************** SECCION SALONES  ****************** */

.galeria h1{
    margin: 25px auto;
    text-align: center;
    font-weight: 300;
}                        
.contenedor-imagenes{
    display:flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    
}
.contenedor-imagenes .imagen{
    width: 47%;
    position: relative;
    height: 450px;
    margin: 10px 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgb(25 24 26 / 78%) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    opacity: 0.5;
}
.overlay h2{
    color: white ;
    font-weight: 300;
    font-size:28px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 1.7;
}
.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

                        /***************** SECCION ALQUILERES  ****************** */

.title-alquileres{
    margin-top: 15px;
    position: relative;
    animation: aparecer 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}
.title-alquileres h1 {
    margin: 10px 5px;
    font-weight: 300;
}
.subtitle-alq{
    font-weight: 300;
}
@keyframes aparecer {
    0% {
    transform: translateX(100%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}
.container {
    width: 95%;
    max-width: 1600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #1b3231;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 1;
}
.evento {
    flex-direction: row;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    height: 65vh;
}
.evento::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
    border: 2px solid #1b3231;
    position: absolute;
    z-index: 2;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
}
.contenedor-descripcion{
    width: 45%;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}
.foto {
    object-fit: cover;
    width: 45%;
    border: 10px solid #fff;
    position: relative;
}
.foto img {
    border-radius: 5px;
    width: 100%;
    height: 62vh;
    vertical-align: top;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
}
.evento:nth-child(even) {
    flex-direction: row-reverse;
}      
.evento:nth-child(even) .fecha {
    justify-content: end;
}
.evento:nth-child(even) .foto::after {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    right: initial;
    left: -50px;
}

@media(max-width: 1200px){
    .logo-header{ 
        width: 285px;
        height: 67px;
        margin: 5px auto;
    }
    .nav-menu {
        font-size: 18px;
        gap: 15px;
    }
    .navbar{
        padding: 0px 15px;
    }

    .nav-branding {
        font-size: 4rem;
    }
    .card{
      display: flex;
      flex-wrap: wrap;
    }

    .iconos-container{
        margin: 0px;
    }
    .icon{
        margin: 0px 20px;
    }
    .slider{
        height: 453px;
    }
    .slider li img{
        height: 80vh;
    }
    .slogan{
        font-size: 25px;
    }
    .about-us {
        font-size: 20px;
    }
    .descripcion-img {
        width: 190px;
        height: 215px;
        margin: 20px 15px;
    }
    .descripcion-empresa {
        font-size: 18px;
    }
    .descripcion-finish {
        font-size: 21px;
    }
                            /* FOOTER */
    .nav-footer {
        font-size: 17px;
    }
    .copyright{
        font-size: 14px;
    }

                            /* ALQUILERES */
    .evento{
        height: auto;
    }
    .foto img{
        margin-top: 25px;
        height: 48vh;
    }
    .card-prop .head{
        width: 50%;
    }
    .card-prop .description{
        z-index: 10;
    }
    .contenedor-descripcion{ /* alquileres */
        line-height: 1.5;
        font-size: 18px;
        width: 50%;
    }
    .contenedor-imagenes .imagen { /* salones */
        width: 90%;
    }
}

@media(max-width:900px){
    
    .hamburguesa{
        display: block;
        margin: 0px 5px;
    }
    .hamburguesa.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguesa.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguesa.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: rgb(49,19,77);
        background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav-link{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
        padding: 10px;
        z-index: 99;
    }
    .descripcion-img{
        float: unset;
        display: flex;
        margin: auto;
    }
    .contenedor figure .capa{
        visibility: unset;
        opacity: 0.9;
        background-color: rgba(73, 67, 67, 0.7);
    }
    .contenedor figure .capa h3{
        margin-bottom: 42px;
        margin-top: 50px;
        font-size: 22px;
    }
    .card-prop{
        display: block;
    }
    .card-prop .contact {
        width: unset;
    }
    .icon{
        margin: 0px 20px;
    }
    .slider{
        height: 270px;
    }
    .slider li img{
        height: 27vh;
    }
    .contenedor-imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-imagenes .imagen{
        width: 100%;
        height: 50vh;
        margin: 5px auto;
    }
    .evento{
        gap: 50px;

    }
    .foto{
        border:unset;
        box-shadow: unset;
        width: 47%;
    }
    .foto img {
        height: 25vh;
        border-radius: 15px;
        width: 100%;
        margin-top: 25px;
    }
    .contenedor-descripcion{
        line-height: unset;
        font-size: 14px;
        width: 48%;
        height: 25vh;
    }
    .subtitle-alq{
        margin-bottom: 12px;
    }
    .overlay{
        position: unset;
        opacity: 1;
    }
    .overlay h2{
        font-size: 20px;
        line-height: 1.5;
    }
    .main-alq{
        width: 85%;
        margin: auto;
    }
}

@media (max-width:600px){
    
    .icon-fixed img{
        height: 35px;
        padding-right: 15px;
    }

    .logo-header{ 
        width: 229px;
        height: 55px;
        margin: 0px auto;
    }
    .nav-menu {
        font-size: 15px;
    }
    .nav-branding {
        font-size: 4rem;
    }
    .slogan{
        font-size: 22px;
    }
    .about-us {
        font-size: 18px;
    }
    .descripcion-img {
        width: 200px;
        height: 200px;
    }
    .descripcion-empresa {
        font-size: 18px;
    }
    .contenedor {
        margin: auto;
    }
    .descripcion-finish {
        font-size: 20px;
    }
    .nav-footer {
        font-size: 16px;
    }
    .copyright {
        font-size: 13px;
    }

                           /* SALONES */
    
    .galeria h1 {
        font-size: 22px;
    }
     
                            /* MENÚS */

    .card-prop .head .img {
        font-size: 20px;
    }
    .card-prop .description{
        font-size: 19px;
    }
    .card-prop .description p {
        font-size: 17px;
        margin: auto; 
    }
    .card-prop .contact a {
        font-size: 16px;
    }

                            /*  ALQUILERES */
    
    .title-alquileres{    
        font-size: 13px;
    }
    .foto img {
        margin: 40px auto;
        height: 145px;
        border-radius: 100px;
        width: 135px;
    }
    .container {
        width: 95%;
        margin-top: 20px;
    }
    .evento {
        gap: 30px;
    }
    .evento::after{
        display: none;
    }
    .container::after {
        display: none;
    }
    .contenedor-descripcion {
        line-height: unset;
        font-size: 14px;
        width: 65%;
        margin-top: 20px;
        height: auto;
    }

}

@media (max-width:320px){ 
    .slider {
        height: 153px;
    }
}
