* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.icon-fixed{
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 8px;
}

                        /***************** SECCION HEADER *******************/ 

header{
    background: rgb(49,19,77);
    background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
}
.logo-header{
    width: 340px;
    height: 72px;
    margin: 7px;
}
li{
    list-style: none;
}
a{
   color: #fff;
   text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: rgb(99, 58, 138);
}
.hamburguesa{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

                        /***************** SECCION 1 HOME *******************/ 

main{
    width: 100%;
}
.slider{
    width: 100%;
    height: 835px;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 500%;
    animation: slider 20s infinite;
}
.slider li{
    height: 100vh;
    width: 100%;
    list-style: none;
}
.slider li img{
    width: 100%;
    height: 88vh;
}

@keyframes slider {
    0% {margin-left: 0%;}
    15% {margin-left: 0%;}

    20% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    75% {margin-left: -300%;}

    80% {margin-left: -400%;}
    95% {margin-left: -400%;}
}
.section-1{
    min-height: 125vh;
    margin-bottom: 20px;
}
.slogan{
    margin: 10px;
    padding: 5px;
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;

}
.about-us{
    text-align: center;
    font-weight: lighter;
    margin: 0px 15px;
    padding: 10px;
    text-transform: uppercase;
}

.descripcion-empresa{
    margin: 0px 20px;
    padding: 25px;
    font-size: 21px;
    font-weight: lighter;
    line-height: 1.6;
}

.descripcion-img{ 
    width: 250px;
    height: 250px;
    float: left;
    margin: 15px 25px;
    border-radius: 50%;
}

                        /***************** SECCION 2 HOME *******************/ 

.section-2{
    width: 100%;
}
.prop-generales{
    text-align: center;
    margin: 15px;
}
.contenedor{
    margin: 70px auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor a{
    margin: 10px 5px;
}
.contenedor figure{
    position: relative;
    height: 380px;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
    object-fit: cover;
    width: 301px;
    height: 380px;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 97, 97, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
    font-size: 23px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.descripcion-finish{
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}
.arrow{
    width: 24px;
    margin-bottom: 8px;
}
.iconos-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 40px;
    margin-right: 50px;
}
.icon:hover{
    opacity: 0.5;
}
                        /***************** SECCION FOOTER *******************/ 
footer{
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    background: rgb(49,19,77);
    background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width: 250px;
    margin: 8px 20px;
}
.copyright{
    color: #fff;
    font-size: 15px;
    margin: 5px 10px;
}

                        /***************** SECCION PROPUESTAS *******************/ 

.main-prop{
    width: 85%;
    margin: 20px auto;
}
.card-prop {
    position: relative;
    background: rgb(250, 250, 250);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: .5s;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 5px;
}
.card-prop:hover {
    box-shadow: 0 5px 15px rgba(148, 100, 160, 0.5);
    transform: translateY(-10px);
}
.card-prop .head {
    height: 115px;
    width: 70%;
    position: relative;
}
.card-prop .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(148, 100, 160, 0.5);
    bottom: 0;
}
.card-prop .head .img {
    position: absolute;
    background: transparent;
    padding: 5px;
    top: 35%;
    left: 40%;
    font-size: 25px;
}
.card-prop .description {
    display: inline-flex;
    height: 185px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.card-prop .description p {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 16px;
}
.card-prop .contact{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.contact-bodas{
    text-decoration: none;
    color: #fff;
    background: rgba(148, 100, 160, 0.5);
    border-radius: 5px;
    transition: .3s;
    margin: 5px 10px;
}
.card-prop .contact a {
    width: 175px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgba(148, 100, 160, 0.5);
    padding: 15px 20px;
    border-radius: 5px;
    transition: .3s;
}
.card-prop .contact a:hover {
    background: rgba(207, 112, 231, 0.5);
}
                        /***************** SECCION SALONES  ****************** */

.galeria h1{
    margin: 25px auto;
    text-align: center;
    font-weight: 300;
}                        
.contenedor-imagenes{
    display:flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}
.contenedor-imagenes .imagen{
    width: 30%;
    position: relative;
    height: 450px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(130, 57, 172, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    opacity: 0.5;
}
.overlay h2{
    color: white ;
    font-weight: 300;
    font-size:28px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 1.7;
}
.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

                        /***************** SECCION ALQUILERES  ****************** */
.title-alquileres{
    margin-top: 15px;
    position: relative;
    animation: aparecer 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}
@keyframes aparecer {
    0% {
    transform: translateX(100%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}
.subtitle-alq{
    text-decoration: underline;
}
.container {
    width: 80%;
    max-width: 1600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #1b3231;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 1;
}
.evento {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;
    height: 65vh;
}
.evento::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #DCDFD9;
    border: 2px solid #1b3231;
    position: absolute;
    z-index: 2;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
}
.contenedor-descripcion{
    font-size: 20px;
    line-height: 1.6;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.foto {
    object-fit: cover;
    width: 45%;
    border: 10px solid #fff;
    position: relative;
    box-shadow: rgb(151, 149, 149) 0px 7px 29px 0px;
}
.foto::after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    right: -50px;
    top: calc(50% - 20px);
}
.foto img {
    width: 100%;
    height: 62vh;
    vertical-align: top;
}
.evento:nth-child(even) {
    flex-direction: row-reverse;
}      
.evento:nth-child(even) .fecha {
    justify-content: end;
}
.evento:nth-child(even) .foto::after {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    right: initial;
    left: -50px;
}

@media(max-width: 1020px){
    .card{
      display: flex;
      flex-wrap: wrap;
    }
    .iconos-container{
        margin: 0px;
    }
    .icon{
        margin: 0px 20px;
    }
    .slider{
        height: 530px;
    }
    .slider li img{
        height: 60vh;
    }
}
@media(max-width:768px){
    .hamburguesa{
        display: block;
    }
    .hamburguesa.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguesa.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguesa.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: rgb(49,19,77);
        background: linear-gradient(90deg, rgb(79, 46, 110) 4%, rgb(65, 192, 199) 100%);
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav-link{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
        padding: 10px;
        z-index: 99;
    }
    .card-prop{
        display: block;
    }
    .card-prop .contact {
        width: unset;
    }
    .icon{
        margin: 0px 20px;
    }
    .slider{
        height: 360px;
    }
    .slider li img{
        height: 40vh;
    }


}